.headerTopSection {
  margin: 0px 0px !important;
}
.customLinkStyle {
  text-decoration: none;
  color: black;
}
.customLinkStyle:hover {
  color: black;
  text-decoration: underline;
}
.flagImage {
  width: 2em;
  height: 2em;
  cursor: pointer;
}
.dropDown:hover .dropDownContent {
  display: block;
}
